<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for dato in datos_list %}
        <table>
            <tr>
              <td style= "color:red">Nombre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br> {{ dato.nombre }}</td>
              <td style= "color:green">Numero: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> {{ dato.numero }}</td>
              <br>
              <td style= "color:blue">Cumpleanios: <br> {{ dato.fechaDeNac }}</td>
            </tr>
    {% endfor %}
</body>
</html>

